# Виртуальное окружение
.venv/
venv/

# Кэш pytest
.pytest_cache/

# Отчёты тестов
reports/

# Кэш Python
__pycache__/
*.py[cod]

# IDE (PyCharm)
.idea/

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db
/tests/ui/logs/
/logs/
